In [1]:
# Import libraries
import os
import time
import pandas as pd

In [9]:
# Insert the directory path in here
path = 'car.data'

col_name = ["buying","maint","doors","persons","lug_boot","safety","class"]

# Add column names into dataset 
df = pd.read_csv(path, names=col_name)

print('Task finished!')

Task finished!

In [10]:
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [12]:
df.to_csv('car_evaluation.csv', index=False)