In [65]:
import pandas as pd
import numpy as np

In [69]:
# Loading the csv file 
df = pd.read_csv('data/covid_19_data.csv', index_col=0)

# showing the content of data frame
df.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

Show number of Columns and Rows in the df

In [ ]:
df.shape

List Column names

In [ ]:
df.columns

Describe dataset

In [ ]:
df.describe()

Assign Corona countries

In [ ]:
countryCorona = df["Country/Region"]

In [ ]:
df['Country/Region'].unique()

Listing the most confirmed cases

In [ ]:
maxConfirmedCases = max(df["Confirmed"])
print(maxConfirmedCases)

In [ ]:
coronaChina = df[(df['Country/Region'] == "Mainland China")]
print(coronaChina)

In [73]:
%%time
df[df["Confirmed"]==maxConfirmedCases]

CPU times: user 2.63 ms, sys: 0 ns, total: 2.63 ms
Wall time: 1.61 ms

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
298069,05/19/2021,NaN,France,2021-05-20 04:21:05,5863138.0,107390.0,324444.0