In [1]:
import pandas as pd
import numpy as np

In [15]:
# Loading the csv file 
df = pd.read_csv('data/covid_19_data.csv', index_col=0)

# showing the content of the first 10 records in the dataframe
df.head(10)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

Show number of Columns and Rows in the df

In [3]:
df.shape

(306429, 7)

Show Columns' name and number of columns

In [21]:
print(f"Coummns' name: {df.columns.tolist()}")
print(f"Number of columns in the dataframe: {len(df. columns)}")

Coummns' name: ['ObservationDate', 'Province/State', 'Country/Region', 'Last Update', 'Confirmed', 'Deaths', 'Recovered']
Number of columns in the dataframe: 7

Show number of records in the dataframe

In [13]:
len(df.index)

306429

Describe dataset

In [5]:
df.describe()

          Confirmed         Deaths     Recovered
count  3.064290e+05  306429.000000  3.064290e+05
mean   8.567091e+04    2036.403268  5.042029e+04
std    2.775516e+05    6410.938048  2.015124e+05
min   -3.028440e+05    -178.000000 -8.544050e+05
25%    1.042000e+03      13.000000  1.100000e+01
50%    1.037500e+04     192.000000  1.751000e+03
75%    5.075200e+04    1322.000000  2.027000e+04
max    5.863138e+06  112385.000000  6.399531e+06

Assign Corona countries

In [6]:
countryCorona = df["Country/Region"]

In [7]:
df['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'China', 'Kiribati', 'Singapore',
       'Philippines', 'Malaysia', 'Vietnam', 'Australia', 'Mexico',
       'Brazil', 'Colombia', 'France', 'Nepal', 'Canada', 'Cambodia',
       'Sri Lanka', 'Ivory Coast', 'Germany', 'Finland',
       'United Arab Emirates', 'India', 'Italy', 'UK', 'Russia', 'Sweden',
       'Spain', 'Belgium', 'Others', 'Egypt', 'Iran', 'Israel', 'Lebanon',
       'Iraq', 'Oman', 'Afghanistan', 'Bahrain', 'Kuwait', 'Austria',
       'Algeria', 'Croatia', 'Switzerland', 'Pakistan', 'Georgia',
       'Greece', 'North Macedonia', 'Norway', 'Romania', 'Denmark',
       'Estonia', 'Netherlands', 'San Marino', ' Azerbaijan', 'Belarus',
       'Iceland', 'Lithuania', 'New Zealand', 'Nigeria', 'North Ireland',
       'Ireland', 'Luxembourg', 'Monaco', 'Qatar', 'Ecuador',
       'Azerbaijan', 'Czech Republic', 'Armenia', 'Dominican Republic',
       'Indonesia', 'Portugal', 'Andorra', 'Latvia', 'Morocco',
       'Saudi Arabia', 'Senegal', 'Argentina', 'Chile', 'Jordan',
       'Ukraine', 'Saint Barthelemy', 'Hungary', 'Faroe Islands',
       'Gibraltar', 'Liechtenstein', 'Poland', 'Tunisia', 'Palestine',
       'Bosnia and Herzegovina', 'Slovenia', 'South Africa', 'Bhutan',
       'Cameroon', 'Costa Rica', 'Peru', 'Serbia', 'Slovakia', 'Togo',
       'Vatican City', 'French Guiana', 'Malta', 'Martinique',
       'Republic of Ireland', 'Bulgaria', 'Maldives', 'Bangladesh',
       'Moldova', 'Paraguay', 'Albania', 'Cyprus', 'St. Martin', 'Brunei',
       'occupied Palestinian territory', "('St. Martin',)",
       'Burkina Faso', 'Channel Islands', 'Holy See', 'Mongolia',
       'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)', 'Jamaica',
       'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Samoa', 'Syria', 'Timor-Leste', 'Belize',
       'Laos', 'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho', 'Solomon Islands', 'Marshall Islands',
       'Vanuatu', 'Micronesia'], dtype=object)

Listing the most confirmed cases

In [8]:
maxConfirmedCases = max(df["Confirmed"])
print(maxConfirmedCases)

5863138.0

Show data about Covid-19 in China Mainland

In [9]:
coronaChina = df[(df['Country/Region'] == "Mainland China")]
print(coronaChina)

       ObservationDate Province/State  Country/Region          Last Update  \
SNo
1           01/22/2020          Anhui  Mainland China      1/22/2020 17:00
2           01/22/2020        Beijing  Mainland China      1/22/2020 17:00
3           01/22/2020      Chongqing  Mainland China      1/22/2020 17:00
4           01/22/2020         Fujian  Mainland China      1/22/2020 17:00
5           01/22/2020          Gansu  Mainland China      1/22/2020 17:00
...                ...            ...             ...                  ...
306341      05/29/2021          Tibet  Mainland China  2021-05-30 04:20:55
306369      05/29/2021        Unknown  Mainland China  2021-05-30 04:20:55
306413      05/29/2021       Xinjiang  Mainland China  2021-05-30 04:20:55
306421      05/29/2021         Yunnan  Mainland China  2021-05-30 04:20:55
306427      05/29/2021       Zhejiang  Mainland China  2021-05-30 04:20:55

        Confirmed  Deaths  Recovered
SNo
1             1.0     0.0        0.0
2            14.0     0.0        0.0
3             6.0     0.0        0.0
4             1.0     0.0        0.0
5             0.0     0.0        0.0
...           ...     ...        ...
306341        1.0     0.0        1.0
306369        0.0     0.0       10.0
306413      980.0     3.0      977.0
306421      352.0     2.0      331.0
306427     1364.0     1.0     1324.0

[15758 rows x 7 columns]

Find the country having the most cases

In [35]:
maxCountryConfirmedCorona = df[df["Confirmed"]==maxConfirmedCases]['Country/Region'].values[0]
print(f"The country has the most confirmed cases is: {maxCountryConfirmedCorona}")

The country has the most confirmed cases is: France

Find the Province or State having the most cases

In [43]:
maxStateConfirmedCorona = df[df["Confirmed"]==maxConfirmedCases]['Province/State'].values[0]
print(f"The state has the most confirmed cases is: {maxStateConfirmedCorona}")

The state has the most confirmed cases is: nan

Format datetime type

In [45]:
df["ObservationDate"] = pd.to_datetime(df["ObservationDate"])
df["Last Update"] = pd.to_datetime(df["Last Update"])

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306429 entries, 1 to 306429
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ObservationDate  306429 non-null  datetime64[ns]
 1   Province/State   228329 non-null  object
 2   Country/Region   306429 non-null  object
 3   Last Update      306429 non-null  datetime64[ns]
 4   Confirmed        306429 non-null  float64
 5   Deaths           306429 non-null  float64
 6   Recovered        306429 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 18.7+ MB

Get record with ObservationDate from 2020-01-01 to 2020-01-31

In [50]:
df[(df["ObservationDate"] >= "2020-01-01") & (df["ObservationDate"] <= "2020-01-31")]

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
509,2020-01-31,NaN,Philippines,2020-01-31 23:59:00,1.0,0.0,0.0
510,2020-01-31,NaN,India,2020-01-31 23:59:00,1.0,0.0,0.0
511,2020-01-31,NaN,Sweden,2020-01-31 23:59:00,1.0,0.0,0.0
512,2020-01-31,Unknown,China,2020-01-31 23:59:00,0.0,0.0,0.0
513,2020-01-31,NaN,Kiribati,2020-01-31 23:59:00,0.0,0.0,0.0