## LAB 4: CLEANING DATA

In [1]:
import pandas as pd

## Thao tác dữ liệu với DPLYR

In [20]:
df_covid = pd.read_csv('./data/covid_19_data.csv', sep=',', index_col=0)
df_covid['ObservationDate'] = pd.to_datetime(df_covid['ObservationDate'])
df_covid.head(5)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

#### Thao tác select trên dữ liệu:
1. Lấy dữ liệu ở các thuộc tính bao gồm: ngày quan sát (ObservationDate), quốc gia nhiễm (Country.Region), 
số ca dương tính (Confirmed), số ca tử vong (Deaths).

In [5]:
df_covid[['ObservationDate','Country/Region','Confirmed','Deaths']]

       ObservationDate  Country/Region  Confirmed  Deaths
SNo
1           2020-01-22  Mainland China        1.0     0.0
2           2020-01-22  Mainland China       14.0     0.0
3           2020-01-22  Mainland China        6.0     0.0
4           2020-01-22  Mainland China        1.0     0.0
5           2020-01-22  Mainland China        0.0     0.0
...                ...             ...        ...     ...
306425      2021-05-29         Ukraine   102641.0  2335.0
306426      2021-05-29     Netherlands    29147.0   245.0
306427      2021-05-29  Mainland China     1364.0     1.0
306428      2021-05-29         Ukraine    87550.0  1738.0
306429      2021-05-29     Netherlands   391559.0  4252.0

[306429 rows x 4 columns]

2. Lấy dữ liệu về số ca hồi phục ở từng quốc gia, thuộc tính hiển thị gồm: ngày quan
sát (ObservationDate), quốc gia nhiễm (Country.Region) và số ca hồi phục
(Recovered).

In [6]:
df_covid[['ObservationDate','Country/Region','Recovered']]

       ObservationDate  Country/Region  Recovered
SNo
1           2020-01-22  Mainland China        0.0
2           2020-01-22  Mainland China        0.0
3           2020-01-22  Mainland China        0.0
4           2020-01-22  Mainland China        0.0
5           2020-01-22  Mainland China        0.0
...                ...             ...        ...
306425      2021-05-29         Ukraine    95289.0
306426      2021-05-29     Netherlands        0.0
306427      2021-05-29  Mainland China     1324.0
306428      2021-05-29         Ukraine    83790.0
306429      2021-05-29     Netherlands        0.0

[306429 rows x 3 columns]

3. Tính tổng số ca dương tính: sử dụng hàm sum(), thuộc tính: Confirmed.

In [8]:
confirmed_sum = df_covid["Confirmed"].sum()
confirmed_sum

26252051758.0

4. Tương tự câu 2, nhưng lấy ra 10 dòng đầu tiên:

In [9]:
df_covid[['ObservationDate','Country/Region','Recovered']].head(10)

    ObservationDate  Country/Region  Recovered
SNo
1        2020-01-22  Mainland China        0.0
2        2020-01-22  Mainland China        0.0
3        2020-01-22  Mainland China        0.0
4        2020-01-22  Mainland China        0.0
5        2020-01-22  Mainland China        0.0
6        2020-01-22  Mainland China        0.0
7        2020-01-22  Mainland China        0.0
8        2020-01-22  Mainland China        0.0
9        2020-01-22  Mainland China        0.0
10       2020-01-22  Mainland China        0.0

#### Thao tác lọc dữ liệu filter:
1. Lấy dữ liệu về số ca nhiễm ở Trung Quốc (Mainland China):

In [11]:
df_covid[df_covid["Country/Region"] == "Mainland China"]

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
306341,2021-05-29,Tibet,Mainland China,2021-05-30 04:20:55,1.0,0.0,1.0
306369,2021-05-29,Unknown,Mainland China,2021-05-30 04:20:55,0.0,0.0,10.0
306413,2021-05-29,Xinjiang,Mainland China,2021-05-30 04:20:55,980.0,3.0,977.0
306421,2021-05-29,Yunnan,Mainland China,2021-05-30 04:20:55,352.0,2.0,331.0
306427,2021-05-29,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0

2. Lấy dữ liệu về số ca nhiễm của Việt Nam trong tháng 03 và tháng 04.

In [17]:
df_covid[(df_covid["Country/Region"] == "Vietnam") 
                         & (df_covid["ObservationDate"] >= "2020-03-01") 
                         & (df_covid["ObservationDate"] <= "2020-04-30")]

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
2948,2020-03-01,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
3078,2020-03-02,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
3223,2020-03-03,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
3381,2020-03-04,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
3550,2020-03-05,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
...,...,...,...,...,...,...,...
19094,2020-04-26,NaN,Vietnam,2020-04-27 02:31:20,270.0,0.0,225.0
19415,2020-04-27,NaN,Vietnam,2020-04-28 02:31:20,270.0,0.0,225.0
19740,2020-04-28,NaN,Vietnam,2020-04-29 02:32:29,270.0,0.0,222.0
20065,2020-04-29,NaN,Vietnam,2020-04-30 02:32:27,270.0,0.0,222.0
20392,2020-04-30,NaN,Vietnam,2020-05-01 02:32:28,270.0,0.0,219.0

#### Thao tác thống kê dữ liệu với summarise:

Thống kê dữ liệu về số ca dương tính của China: số ca dương tính trung bình, trung vị,
phương sai và độ lệch chuẩn.

In [19]:
df_covid[df_covid["Country/Region"] == "Mainland China"].agg(
    Mean=("Confirmed", "mean"),
    Median=("Confirmed", "median"),
    Variance=("Confirmed", "var"),
    SD=("Confirmed", "std")
)

             Confirmed
Mean      2.590595e+03
Median    3.960000e+02
Variance  1.322990e+08
SD        1.150213e+04

#### Thao tác gom nhóm dữ liệu với group_by:
Hiển thị dữ liệu theo từng ngày quan sát (thuộc tính ObservationDate) của Việt Nam
trong 2 tháng: tháng 3 và tháng 4 năm 2020.

In [37]:
df_covid[
    (df_covid["Country/Region"] == "Vietnam") &
    (df_covid["ObservationDate"] >= "2020-03-01") &
    (df_covid["ObservationDate"] <= "2020-04-30")
].groupby("ObservationDate").agg(list)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
ObservationDate,,,,,,
2020-03-01,[nan],[Vietnam],[2020-02-25T08:53:02],[16.0],[0.0],[16.0]
2020-03-02,[nan],[Vietnam],[2020-02-25T08:53:02],[16.0],[0.0],[16.0]
2020-03-03,[nan],[Vietnam],[2020-02-25T08:53:02],[16.0],[0.0],[16.0]
2020-03-04,[nan],[Vietnam],[2020-02-25T08:53:02],[16.0],[0.0],[16.0]
2020-03-05,[nan],[Vietnam],[2020-02-25T08:53:02],[16.0],[0.0],[16.0]
...,...,...,...,...,...,...
2020-04-26,[nan],[Vietnam],[2020-04-27 02:31:20],[270.0],[0.0],[225.0]
2020-04-27,[nan],[Vietnam],[2020-04-28 02:31:20],[270.0],[0.0],[225.0]
2020-04-28,[nan],[Vietnam],[2020-04-29 02:32:29],[270.0],[0.0],[222.0]
2020-04-29,[nan],[Vietnam],[2020-04-30 02:32:27],[270.0],[0.0],[222.0]
2020-04-30,[nan],[Vietnam],[2020-05-01 02:32:28],[270.0],[0.0],[219.0]

#### Thao tác sắp xếp dữ liệu với arrange:
1. Hiển thị dữ liệu theo từng ngày quan sát (thuộc tính ObservationDate) của Việt
Nam trong 2 tháng: tháng 3 và tháng 4 năm 2020. Sắp xếp theo số ca dương tính tăng
dần.

In [40]:
df_covid[
    (df_covid["Country/Region"] == "Vietnam") &
    (df_covid["ObservationDate"] >= "2020-03-01") &
    (df_covid["ObservationDate"] <= "2020-04-30")
].groupby("ObservationDate").apply(lambda x: x.sort_values("Confirmed")).reset_index(drop=True)

/tmp/ipykernel_94034/2420515765.py:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  ].groupby("ObservationDate").apply(lambda x: x.sort_values("Confirmed")).reset_index(drop=True)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,2020-03-01,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
1,2020-03-02,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
2,2020-03-03,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
3,2020-03-04,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
4,2020-03-05,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
...,...,...,...,...,...,...,...
56,2020-04-26,NaN,Vietnam,2020-04-27 02:31:20,270.0,0.0,225.0
57,2020-04-27,NaN,Vietnam,2020-04-28 02:31:20,270.0,0.0,225.0
58,2020-04-28,NaN,Vietnam,2020-04-29 02:32:29,270.0,0.0,222.0
59,2020-04-29,NaN,Vietnam,2020-04-30 02:32:27,270.0,0.0,222.0
60,2020-04-30,NaN,Vietnam,2020-05-01 02:32:28,270.0,0.0,219.0

2. Tương tự như trên, nhưng sắp xếp số ca dương tính giảm dần. Để sắp xếp giảm dần
một thuộc tính, ta dùng thao tác: desc(<thuộc_tính>) trong hàm arrange.

In [41]:
df_covid[
    (df_covid["Country/Region"] == "Vietnam") &
    (df_covid["ObservationDate"] >= "2020-03-01") &
    (df_covid["ObservationDate"] <= "2020-04-30")
].groupby("ObservationDate").apply(lambda x: x.sort_values("Confirmed", ascending=False)).reset_index(drop=True)

/tmp/ipykernel_94034/482023933.py:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  ].groupby("ObservationDate").apply(lambda x: x.sort_values("Confirmed", ascending=False)).reset_index(drop=True)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,2020-03-01,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
1,2020-03-02,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
2,2020-03-03,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
3,2020-03-04,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
4,2020-03-05,NaN,Vietnam,2020-02-25T08:53:02,16.0,0.0,16.0
...,...,...,...,...,...,...,...
56,2020-04-26,NaN,Vietnam,2020-04-27 02:31:20,270.0,0.0,225.0
57,2020-04-27,NaN,Vietnam,2020-04-28 02:31:20,270.0,0.0,225.0
58,2020-04-28,NaN,Vietnam,2020-04-29 02:32:29,270.0,0.0,222.0
59,2020-04-29,NaN,Vietnam,2020-04-30 02:32:27,270.0,0.0,222.0
60,2020-04-30,NaN,Vietnam,2020-05-01 02:32:28,270.0,0.0,219.0