In [1]:
# Import libraries
import os
import time
import pandas as pd

In [17]:
# Insert the directory path in here
path = 'Diabetes-Data'
lst_df = []
# Extracting all the contents in the directory corresponding to path
l_files = os.listdir(path)

col_name = ["Date","Time","Code","Value"]

# Iterating over all the files
for file in l_files:
  file_path = os.path.join(path, file)

  if file.startswith('data-'):
    df = pd.read_csv(file_path, names=col_name, sep="\t")
    lst_df.append(df)
    # print(df.shape)

print('Task finished!')
print(df)
final_df = pd.concat(lst_df)

Task finished!
           Date   Time  Code  Value
0    07-26-1991  22:04    33     13
1    07-27-1991  10:24    58    305
2    07-27-1991  10:26    33     14
3    07-27-1991  10:26    35     16
4    07-27-1991  14:32    60     72
..          ...    ...   ...    ...
295  08-29-1991  05:52    33     14
296  08-29-1991  05:52    35     16
297  08-29-1991  12:50    60    185
298  08-29-1991  13:23    33      9
299  08-29-1991  16:32    57    179

[300 rows x 4 columns]

In [16]:
final_df

           Date   Time  Code Value
0    06-11-1991  18:05    62   157
1    06-11-1991  18:12    33     8
2    06-11-1991  18:12    34     1
3    06-11-1991  22:05    64   119
4    06-11-1991  22:15    33     2
..          ...    ...   ...   ...
295  08-29-1991  05:52    33    14
296  08-29-1991  05:52    35    16
297  08-29-1991  12:50    60   185
298  08-29-1991  13:23    33     9
299  08-29-1991  16:32    57   179

[29330 rows x 4 columns]

In [20]:
final_df.to_csv('data.csv', index=False)